---
import Layout from '../layouts/Layout.astro';
import EditableImage from '@/islands/EditableImage.vue';

import {
	Card,
	CardHeader,
	CardTitle,
	CardDescription,
	CardContent,
} from '@/components/ui/card';

import HoverControl from "@/islands/HoverControl.vue";
import pfp from "@/assets/images/fallback-pfp.png";
---

<Layout title="Welcome to Astro.">
	<div class="c-card_grid">
		<section transition:name="profile" class="profile">
			<Card>
				<CardHeader transition:name="profile-header" class="w-full flex flex-row gap-4 sm:block">
					<div class="rounded-md max-w-36 sm:max-w-full sm:mb-2 overflow-hidden">
						<EditableImage transition:name="profile-picture" class="aspect-square object-cover" fallback-src={pfp.src} client:load />
					</div>
					<div>
						<CardTitle transition:name="profile-name">@m_casante</CardTitle>
						<CardDescription class="mt-1" transition:name="profile-description">
							Front-end Developer
						</CardDescription>
					</div>
				</CardHeader>
			</Card>
		</section>

		<section class="about">
			<HoverControl href="/another-page" client:load baseWidth="45" isDithered={false} isAscii={true}>
				<Card>
					<CardHeader>
						<CardTitle>About me</CardTitle>
					</CardHeader>
					<CardContent class="text-justify px-8">
						I'm Matheus Casante, a front-end developer at Folha de São Paulo, working on the Design System. I've built solutions for a55 and The9Level using Vue.js, TypeScript, and Astro.
					</CardContent>
				</Card>
			</HoverControl>
		</section>

		<section class="resume">
			<Card>
				<CardHeader>
					<CardTitle>Work experience</CardTitle>
				</CardHeader>
				<CardContent>
					<ul class="list-disc list-inside">
						<li>Front-end Developer at Folha de São Paulo</li>
						<li>Front-end Developer at a55</li>
						<li>Front-end Developer at The9Level</li>
					</ul>
				</CardContent>
			</Card>
		</section>
	</div>
</Layout>

<style lang="postcss">
.c-card_grid {
	@apply grid grid-cols-6 gap-4;
	grid-template-rows: auto;

	grid-template-areas:
		"A A A A A A"
		"B B B C C C";

	.c-card, a { @apply h-full }
	.profile { grid-area: A }
	.about { grid-area: B }
	.resume { grid-area: C }

	@screen md {
		grid-template-areas:
			"A A B B B B"
			"A A C C C C"
			"A A C C C C";
	}

	@screen lg {
		grid-template-areas:
			"A A B B C C"
			"A A B B C C"
			"A A . . . .";
	}
}
</style>