---
import "@/styles/globals.css"
import Layout from '../layouts/Layout.astro';
import AsciiCanvas from '@/components/AsciiCanvas.vue';
---

<Layout title="Welcome to Astro.">
	<div class="container">
		<main>
			<aside class="w-full max-w-sm">
				<AsciiCanvas client:load />
			</aside>
		</main>
	</div>
</Layout>

<style>
	
</style>
