<!-- <Card>
  <CardHeader transition:name="profile-header" class="w-full flex flex-row gap-4 sm:block">
    <EditableImage transition:name="picture" class="aspect-square object-cover rounded-md max-w-36 sm:max-w-full sm:mb-2" client:load />
    <div>
      <CardTitle transition:name="name">@m_casante</CardTitle>
      <CardDescription class="mt-1" transition:name="description">
        Front-end Developer

        <span class="mt-3 block text-justify">
          I'm Matheus Casante, a front-end developer at Folha de São Paulo, working on the Design System. I've built solutions for a55 and The9Level using Vue.js, TypeScript, and Astro.
        </span>
      </CardDescription>
    </div>
  </CardHeader>
</Card> -->